In [2]:
import pandas as pd

#판다스 시리즈 타입
ser = pd.Series([1,2,3])
ser

#판다스에선 index랑 값이 항상 붙어다님
ser1 = pd.Series([4,5,6])
ser1

ser + ser1
ser.add(ser)

0    2
1    4
2    6
dtype: int64

In [3]:
ser[0] + ser1

0    5
1    6
2    7
dtype: int64

In [4]:
df = pd.DataFrame(ser)
df

   0
0  1
1  2
2  3

In [5]:
df1 = pd.DataFrame([[1,2,3],[4,5,6]])
df1

   0  1  2
0  1  2  3
1  4  5  6

In [6]:
#데이터 프레임은 시리즈의 모임인걸 알 수 있음
df1[0]

0    1
1    4
Name: 0, dtype: int64

In [7]:
df[0]

0    1
1    2
2    3
Name: 0, dtype: int64

In [11]:
ser2 = pd.Series([1,2,3,4], index=list('abcd'))
ser2
ser2.size
ser2.shape #(4,)가 출력되는데 1차원에 4개 값이 있다는거임
ser2.ndim #차수(디멘션)
ser2.index #phython에선 string, pandas에선 object라고 표현함

Index(['a', 'b', 'c', 'd'], dtype='object')

In [20]:
df = pd.DataFrame([[1,2,3],[4,5,6]], index = list('ab'), columns = ["c1", "c2", "c3"])
df
df.shape #(2, 3)이 출력되는데 2행 3열이라는 뜻임
df.ndim #차수(디멘션)
df.size
df.columns #c1, c2, c3가 출력
df.index #a, b가 출력

Index(['a', 'b'], dtype='object')